{% extends terms_base_template %}

{% load i18n static static_version %}

{% block title %}{% trans 'Accept Terms and Conditions' %}{% endblock %}

{% block content %}
    <section id="termsandconditions-section" title="{% trans 'Terms and Conditions' %}" data-role="content">
        {{ form.errors }}
        <h1>{% trans 'Please accept our terms and conditions' %}</h1>
        <ul>
            <li>
                {% for terms in form.initial.terms %}
                    <h2>{% trans 'Please accept our' %} 
                        <a href="{% url 'tc_view_specific_version_page' terms.slug|safe terms.version_number|safe %}">{{ terms.name|safe }}</a>
                        {% trans 'version' %} {{ terms.version_number|safe }}
                    </h2>
                    <form action="{% url 'tc_accept_page' %}" method="post" id="tc-terms-form" data-ajax="false">
                        {% csrf_token %}
                        {{ form.terms }}
                        {{ form.returnTo }}
                        <p>
                            <input type="submit"
                                value="{% trans 'I accept the terms of the' %} {{ terms.name|safe }} {% if form.initial.terms|length > 1 %} {% trans 'All' %}{% endif %}"
                                data-role="button">
                        </p>
                    </form>
                {% endfor %}
            </li>
        </ul>
    </section>
{% endblock %}